@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS WEB JENSEY JIMENEZ</h1>
    <p>PROYECTO FINAL EDUCACION PERMAMENTE ITLA - C# BASICO </p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
